Repository pallets/flask, pull requests merged in 2018-04, with the labels that each got.

#2686 document blueprint static folder without prefix
  docs/blueprints.rst
Labels: docs

#2662 Add tips for 413 connection reset issue
  docs/patterns/fileuploads.rst
Labels: docs

#2665 Fix the bug of cache function in `get_json` method.
  CHANGES.rst
  flask/wrappers.py
  tests/test_helpers.py
Labels: json

#2691 detect UTF encodings when loading json
  CHANGES.rst
  flask/json/__init__.py
  flask/wrappers.py
  tests/test_helpers.py
Labels: json

#2694 backport #2359 fix python -m import warning
  flask/cli.py
Labels: cli

#2695 detect UTF encodings when loading json
  flask/json.py
  flask/wrappers.py
  tests/test_helpers.py
Labels: json

#2709 use theme provided by pallets-sphinx-themes
  .gitignore
  CHANGES.rst
  docs/.gitignore
  docs/Makefile
  docs/_templates/sidebarintro.html
  docs/_templates/sidebarlogo.html
  docs/api.rst
  docs/conf.py
  docs/deploying/fastcgi.rst
  docs/deploying/mod_wsgi.rst
  docs/extensiondev.rst
  docs/extensions.rst
  docs/flaskdocext.py
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/patterns/caching.rst
  docs/patterns/distribute.rst
  docs/patterns/sqlalchemy.rst
  docs/patterns/wtforms.rst
  docs/signals.rst
  flask/cli.py
  flask/helpers.py
  setup.py
  tox.ini
Labels: docs

#2707 Add a message `Serving Flask app (module "app.py" will be lazily loaded)` to `flask run` related to #2706
  flask/app.py
  flask/cli.py
Labels: cli, docs

#2711 Minor session serializer fixes.
  flask/json/tag.py
  tests/test_json_tag.py
Labels: json, session

#2738 merge slashes between blueprint prefix and rule
  flask/blueprints.py
  tests/test_blueprints.py
Labels: blueprints, bug

#2739 Only trap key errors by default in debug, not all BadRequest errors
  flask/app.py
  tests/test_basic.py
Labels: bug

#2724 Use env var to disable loading dotenv
  docs/cli.rst
  flask/cli.py
  flask/helpers.py
  tests/test_cli.py
Labels: cli

#2746 allow empty prefix and no lead slash in bp route
  flask/blueprints.py
Labels: blueprints
