Repository pallets/flask, pull requests merged in 2019-05, with the labels that each got.

#3191 replace "otherwise" with "or" to complete the "either" statement in templates doc
  docs/tutorial/templates.rst
Labels: docs

#3096 helpers.py: Fix docs of url_for(..., _external=True)
  flask/helpers.py
Labels: docs

#3196 Fix misplaced paren in docs
  flask/ctx.py
Labels: docs

#3118 Fix code snippet in config.rst for env vars Fixes #3117
  docs/config.rst
Labels: docs

#3137 Update CONTRIBUTING.rst discord link + style info
  CONTRIBUTING.rst
Labels: docs

#3129 Fix some HTML injection paths in examples
  docs/quickstart.rst
Labels: docs

#3142 Replaced deprecated sample code in proxy-setup docs
  docs/deploying/wsgi-standalone.rst
Labels: docs

#3159 Improved CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: docs

#3162 Update documentation on gunicorn deployment and app discovery
  docs/cli.rst
  docs/deploying/wsgi-standalone.rst
Labels: docs

#3199 Fix various small spelling errors.
  docs/appcontext.rst
  docs/becomingbig.rst
  docs/blueprints.rst
  docs/config.rst
  docs/design.rst
  docs/extensiondev.rst
  docs/extensions.rst
  docs/shell.rst
  docs/unicode.rst
Labels: docs

#3154 More explicit explanation: session testing
  docs/testing.rst
Labels: docs

#3206 don't push app context for test client json
  CHANGES.rst
  flask/json/__init__.py
  flask/testing.py
  tests/test_testing.py
Labels: json, testing

#3181 Use Werkzeug's JSONMixin class (moved from Flask) and update tests
  CHANGES.rst
  flask/wrappers.py
  setup.py
  tests/test_helpers.py
  tox.ini
Labels: json

#3185 Simplify flask.cli.main
  CHANGES.rst
  flask/cli.py
Labels: cli

#3195 Support dataclass in JSONEncoder (if available)
  CHANGES.rst
  flask/json/__init__.py
  tests/test_basic.py
Labels: json

#2939 Fix #2937: Ensure the consistency in load_dotenv's return type
  CHANGES.rst
  flask/cli.py
  tests/test_cli.py
Labels: cli

#2898 Fix #2897 - Add `extra_files` option to `flask run` CLI
  CHANGES.rst
  docs/cli.rst
  flask/cli.py
Labels: cli

#3111 Allow dictionaries return values as JSON
  CHANGES.rst
  docs/quickstart.rst
  flask/app.py
  tests/test_basic.py
Labels: json

#2784 Add Blueprint level cli registration-- #1357
  CHANGES.rst
  docs/cli.rst
  flask/app.py
  flask/blueprints.py
  flask/helpers.py
  tests/test_cli.py
Labels: blueprints, cli

#3157 Fix teardown bug in FlaskClient
  CHANGES.rst
  flask/testing.py
  tests/test_testing.py
Labels: testing

#3236 Do not register empty CLI groups from Blueprint
  flask/blueprints.py
  tests/test_cli.py
Labels: cli

#3240 Fix testing documentation to demonstrate using test client with teardown
  docs/testing.rst
Labels: docs
