Repository pallets/flask, pull requests merged in 2019-01, with the labels that each got.

#3064 fix docs build
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  tox.ini
Labels: docs

#3019 Clarify prefixing of urls for blueprint endpoints
  docs/blueprints.rst
Labels: docs

#3049 Corrected a typo in a docstring: "Help object" --> "Helper object"
  flask/cli.py
Labels: docs

#3051 [Docs] Improve tojson docs (additions, clarifications, & fixes)
  docs/api.rst
  docs/templating.rst
Labels: docs

#3065 use "-m virtualenv" in installation doc
  docs/installation.rst
Labels: docs

#2913 Install CONTRIBUTING.rst with MANIFEST.in
  MANIFEST.in
Labels: docs, packaging

#2854 Update docs to be more clear about from config instantiation
  docs/config.rst
  flask/config.py
Labels: docs

#2918 Docs: fix some typos in config.rst
  docs/config.rst
Labels: docs

#2875 Update docs on larger applications WRT tutorial
  docs/patterns/packages.rst
Labels: docs

#2970 AJAX with jQuery: Adding conjunction where for clarification
  docs/patterns/jquery.rst
Labels: docs

#3067 clarify where to call flask run from in tutorial
  docs/tutorial/factory.rst
  docs/tutorial/install.rst
Labels: docs

#2964 Docs: replace MongoKit by MongoEngine on docs
  docs/patterns/index.rst
  docs/patterns/mongoengine.rst
  docs/patterns/mongokit.rst
Labels: docs

#2825 Fixes issue #2824 flask --version
  CHANGES.rst
  flask/cli.py
  tests/test_cli.py
Labels: cli

#3068 remove encoding from method override pattern
  docs/patterns/methodoverrides.rst
Labels: docs
