Repository pallets/flask, pull requests merged in 2019-07, with the labels that each got.

#3274 Fix typo
  flask/cli.py
Labels: docs

#3282 use app.name as app.logger name
  CHANGES.rst
  docs/config.rst
  docs/errorhandling.rst
  docs/logging.rst
  src/flask/app.py
  src/flask/logging.py
  tests/test_logging.py
  tests/test_templating.py
Labels: logging

#3284 show warning for old logger config
  CHANGES.rst
  src/flask/logging.py
  tests/test_logging.py
Labels: logging

#3285 Move dotenv warning to stderr
  CHANGES.rst
  flask/cli.py
Labels: cli

#3299 pass sys.argv to flask cli
  CHANGES.rst
  src/flask/__init__.py
  src/flask/cli.py
Labels: bug, cli
