Repository pallets/flask, pull requests merged in 2020-04, with the labels that each got.

#3537 Update deprecated for config.from_json
  src/flask/config.py
Labels: docs

#3530 docs: testing.rst function def missing colon
  docs/testing.rst
Labels: docs

#3529 Move HTML escaping example back to Variable Rules.
  docs/quickstart.rst
Labels: docs

#3541 Clarify that static_folder must be a relative path
  src/flask/app.py
Labels: docs

#3562 Remove simplejson and deprecate encoding options
  CHANGES.rst
  docs/api.rst
  docs/installation.rst
  src/flask/json/__init__.py
  src/flask/json/tag.py
  tests/test_helpers.py
  tox.ini
Labels: json

#3563 deprecate passing script_info to factory
  CHANGES.rst
  docs/cli.rst
  src/flask/cli.py
  tests/test_apps/cliapp/factory.py
  tests/test_cli.py
Labels: cli

#3564 use ast to parse FLASK_APP
  CHANGES.rst
  docs/cli.rst
  src/flask/cli.py
  tests/test_cli.py
Labels: cli
