Repository pallets/flask, pull requests merged in 2021-05, with the labels that each got.

#3989 Async improvements
  docs/async-await.rst
  src/flask/app.py
  src/flask/blueprints.py
  src/flask/helpers.py
  src/flask/scaffold.py
  tests/test_async.py
Labels: async

#3999 Improve CLI docs
  docs/cli.rst
  docs/quickstart.rst
Labels: docs

#4010 rename default branch in files
  .github/workflows/tests.yaml
  CONTRIBUTING.rst
  README.rst
  docs/conf.py
  examples/tutorial/README.rst
Labels: docs

#4021 Added Google Cloud Run as a Hosted option
  docs/deploying/index.rst
Labels: docs

#4042 Update typing
  CHANGES.rst
  src/flask/__init__.py
  src/flask/app.py
  src/flask/ctx.py
  src/flask/globals.py
  src/flask/sessions.py
  src/flask/wrappers.py
Labels: typing

#4026 Improve type hints for send_file and send_from_directory
  CHANGES.rst
  src/flask/helpers.py
  src/flask/scaffold.py
Labels: typing

#4045 blueprint name may not contain a dot
  CHANGES.rst
  src/flask/blueprints.py
  tests/test_basic.py
  tests/test_blueprints.py
Labels: blueprints

#4036 Fix url_prefix argument for nesting blueprint
  CHANGES.rst
  src/flask/blueprints.py
  tests/test_blueprints.py
Labels: blueprints

#4057 Unused escape import
  docs/quickstart.rst
Labels: docs

#4063 Bp fix
  src/flask/blueprints.py
  tests/test_blueprints.py
Labels: blueprints

#4061 Add update pip and setuptools section
  CONTRIBUTING.rst
Labels: docs

#4089 Fix view decorators docs
  docs/patterns/viewdecorators.rst
Labels: docs

#4074 blueprints are registered with nested names, can change registered name
  CHANGES.rst
  src/flask/app.py
  src/flask/blueprints.py
  src/flask/helpers.py
  src/flask/wrappers.py
  tests/test_blueprints.py
Labels: blueprints

#4100 Fix typo in docs/tutorial/index.rst
  docs/tutorial/index.rst
Labels: docs

#4094 improve typing for `teardown_request`
  CHANGES.rst
  src/flask/typing.py
Labels: typing
