Repository pallets/flask, pull requests merged in 2021-04, with the labels that each got.

#3412 Add `async` support
  CHANGES.rst
  docs/async-await.rst
  docs/design.rst
  docs/index.rst
  requirements/tests.in
  requirements/tests.txt
  setup.py
  src/flask/app.py
  src/flask/blueprints.py
  src/flask/helpers.py
  src/flask/scaffold.py
  tests/test_async.py
  tox.ini
Labels: async

#3967 Async Docs
  docs/async-await.rst
  docs/deploying/asgi.rst
  docs/deploying/index.rst
Labels: async, docs

#3985 Add tips for using async on Windows on Python 3.8
  docs/async-await.rst
Labels: docs
