Repository pallets/flask, pull requests merged in 2022-06, with the labels that each got.

#4617 Fix incorrect references to `query` in testing doc
  docs/testing.rst
Labels: docs

#4620 Remove extra backtick in docs
  src/flask/scaffold.py
Labels: docs

#4579 docs: adds typing to an example app
  setup.cfg
  src/flask/app.py
  src/flask/blueprints.py
  src/flask/scaffold.py
  src/flask/typing.py
  tests/typing/typing_error_handler.py
  tests/typing/typing_route.py
Labels: typing

#4630 Update send_from_directory docstring to mention relative root for `directory`
  src/flask/helpers.py
Labels: docs

#4636 rewrite JavaScript docs
  docs/patterns/index.rst
  docs/patterns/javascript.rst
  docs/patterns/jquery.rst
  examples/javascript/README.rst
  examples/javascript/js_example/templates/base.html
  examples/javascript/js_example/templates/fetch.html
  examples/javascript/js_example/templates/xhr.html
  examples/javascript/js_example/views.py
  examples/javascript/setup.cfg
  examples/javascript/tests/test_js_example.py
Labels: docs

#4637 rewrite deployment docs
  docs/async-await.rst
  docs/deploying/apache-httpd.rst
  docs/deploying/asgi.rst
  docs/deploying/cgi.rst
  docs/deploying/eventlet.rst
  docs/deploying/fastcgi.rst
  docs/deploying/gevent.rst
  docs/deploying/gunicorn.rst
  docs/deploying/index.rst
  docs/deploying/mod_wsgi.rst
  docs/deploying/nginx.rst
  docs/deploying/proxy_fix.rst
  docs/deploying/uwsgi.rst
  docs/deploying/waitress.rst
  docs/deploying/wsgi-standalone.rst
Labels: docs

#4642 `FlaskGroup` can be nested
  CHANGES.rst
  src/flask/app.py
  src/flask/cli.py
  src/flask/debughelpers.py
  tests/test_cli.py
Labels: cli

#4647 with_appcontext lasts for the lifetime of the click context
  CHANGES.rst
  docs/cli.rst
  docs/tutorial/database.rst
  examples/tutorial/flaskr/db.py
  src/flask/cli.py
  tests/test_cli.py
Labels: cli

#4652 Update javascript.rst
  docs/patterns/javascript.rst
Labels: docs

#4654 Update quickstart to reflect get() and post() decorator syntax
  docs/quickstart.rst
Labels: docs

#4658 rewrite extension development docs
  docs/extensiondev.rst
  docs/extensions.rst
Labels: docs

#4662 re-add flag to skip unguarded app.run from CLI
  src/flask/app.py
  src/flask/cli.py
  tests/test_cli.py
Labels: cli
