Repository pallets/flask, pull requests merged in 2023-04, with the labels that each got.

#5029 Appending missing parentheses
  docs/deploying/eventlet.rst
Labels: docs

#5063 show subdomain or host in routes output
  CHANGES.rst
  src/flask/cli.py
  tests/test_cli.py
Labels: cli

#5066 document passthrough_errors
  docs/debugging.rst
Labels: docs

#5067 use tox 4.4 constraint feature
  requirements/build.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/tests-pallets-min.in
  requirements/tests-pallets-min.txt
  requirements/tests.txt
  requirements/typing.txt
  tox.ini
Labels: testing

#5071 use postponed evaluation of annotations
  CHANGES.rst
  src/flask/app.py
  src/flask/blueprints.py
  src/flask/cli.py
  src/flask/config.py
  src/flask/ctx.py
  src/flask/debughelpers.py
  src/flask/globals.py
  src/flask/helpers.py
  src/flask/json/provider.py
  src/flask/json/tag.py
  src/flask/logging.py
  src/flask/scaffold.py
  src/flask/sessions.py
  src/flask/templating.py
  src/flask/testing.py
  src/flask/typing.py
  src/flask/views.py
  src/flask/wrappers.py
Labels: typing

#5073 use new logo
  artwork/LICENSE.rst
  artwork/logo-full.svg
  artwork/logo-lineart.svg
  docs/_static/flask-horizontal.png
  docs/_static/flask-icon.png
  docs/_static/flask-logo.png
  docs/_static/flask-vertical.png
  docs/_static/no.png
  docs/_static/shortcut-icon.png
  docs/_static/yes.png
  docs/conf.py
  docs/index.rst
  docs/license.rst
Labels: docs
