Repository pallets/flask, pull requests merged in 2025-03, with the labels that each got.

#5650 Fix typo in the docs
  docs/patterns/mongoengine.rst
Labels: docs

#5671 Update app factory docs
  docs/patterns/appfactories.rst
Labels: docs

#5674 Handle help arg by itself the same as no args
  CHANGES.rst
  src/flask/cli.py
Labels: cli

#5695 Remove HTTP Public Key Pinning from docs
  docs/web-security.rst
Labels: docs

#5700 better type checking during deprecation
  src/flask/__init__.py
Labels: typing

#5701 add endpoint name in favicon example
  docs/patterns/favicon.rst
Labels: docs

#5659 Async Iterable Response
  CHANGES.rst
  src/flask/typing.py
Labels: typing
